.h-wrapper {
    z-index: 99;
    color: white;
}

/* Sticky Navbar */
.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 0; /* Reduce top and bottom padding */
    height: 50px; /* Set a fixed height */
    display: flex;
    align-items: center; /* Center items vertically */
}

/* Default navbar link color */
.h-menu a {
    color: white; /* Set text color to white */
    text-decoration: none;
}

/* Active link styling */
.h-menu a.active-nav {
    color: #7bfc6f !important; /* Highlight color when active */
    font-weight: bold;
    padding-bottom: 5px;
}

/* Hover effect for better visibility */
.h-menu a:hover {
    color: #f1f1f1; /* Light gray on hover */
}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu {
    gap: 2rem;
    margin-right: 30px;
}

.h-menu > *:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 3px;
}

.logo {
    margin-left: 40px;
}

/* Ensure page content does not go behind navbar */
body {
    height: 50px; /* Adjust based on the new navbar height */
    padding-top: 50px;
}

.menu-icon {
    display: none;
}

.auth-dropdown {
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .h-menu {
        z-index: 99;
        color: var(--black);
        position: absolute;
        top: 3rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        transition: all 300ms ease-in;
    }
    .h-menu > *:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: var(--secondary);
        text-decoration-thickness: 3px;
    }
}
