.v-conatiner .image-container{
    border: 8px solid rgba(232 232 232 / 93%);
    
    
}


.v-conatiner>div{
    flex: 1;
}


.v-right{
    gap: 0.8rem;
}


.value1{
    width: 30rem;
}

.v-icon{
    margin-right: 1rem;
    width: 2.9rem;
    height: 2rem;
    background: var(--lightBlue);
    color: var(--blue);
    font-size: 0.9em;
    font-weight: 600;
}

.v-mode{
    
    padding: 1rem;
    border: 0.8px solid rgba(128,128,128,0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}